body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-nav {
  background-color: rgb(60, 141, 188);
}

.color-header1 {
  background-color: rgb(40, 116, 166) !important;
}

/* .panel-body {
  border: 1px solid #dddddd;
  background: #efefef;
  color: #333333;
  padding: 5px;
  border-top: none;
}

.panel-wrap {
  margin-bottom: 5px;
}

.panel-wrap.active-panel .panel-header {
  background: #396ea5;
}
.panel-wrap.active-panel .panel-header button {
  color: #ffffff;
}

.panel-header {
  border: 1px solid #cccc;
  font-weight: normal;
  border-radius: 5px 5px 0px 0px;
} */


.bootstrap-select .dropdown-menu {
  max-width: 100%;
  border: 1px solid cornflowerblue;
  border-radius: 2px;
  box-shadow: 0 2px 8px #888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  .bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  }

